html {
  display: table;
}

html,
body {
  height: 100%;
  margin: auto;
}

body {
  background-color: white;
  display: table-cell;
  font-family: "Fira Code", monospace;
}

h1 {
  font-size: 300%;
  font-weight: normal;
}

h2 {
  font-size: 180%;
  font-weight: lighter;
  padding: 10px 0 20px 0;
}

a {
  color: #42b983;
  text-decoration: none;
}

.box {
  width: 80vw;
  max-width: 480px;
}

.container {
  height: 128px;
  padding: 20px 0 10px 0;
  position: relative;
}

.horizontal-line {
  background-color: #42b983;
  height: 2px;
  max-width: 128px;
  position: absolute;
  top: 50%;
  width: 16vw;
  z-index: 1;
}

.image-circle {
  border-radius: 100%;
  left: 50%;
  margin-left: -64px;
  position: absolute;
  width: 128px;
  z-index: 2;
}

.image-circle:hover {
  color: #42b983;
}

.icon {
  color: black;
  font-size: 32px;
  padding: 16px;
  text-decoration: none;
}

.icon:hover {
  color: #42b983;
}

.icons {
  padding-top: 4vh;
  text-align: center;
}

.stress {
  color: #42b983;
  font-weight: normal;
}

#green-left {
  left: 0%;
}

#green-right {
  right: 0%;
}
