.breadcrumbs {
  padding-top: 32px;
  padding-bottom: 16px;
}

.blog-date {
  color: var(--text-color);
  opacity: 0.6;
  font-size: 0.9rem;
  margin: 0;
}

.blog-entry {
  margin: 1rem 0;
}

.blog-text {
  padding-left: 0px;
}

.blog-img {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: block;
}

.link-gray {
  color: var(--text-color);
  opacity: 0.7;
}

.link-green {
  color: var(--accent-color);
}

.spaced {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
